ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=

OPENAI_API_KEY=
OPENAI_BASE_URL=

WRITING_MODEL=


# --- 向量模型配置（当选择 openai 模式时） ---
EMBEDDING_SERVICE=openai
EMBEDDING_API_KEY=your_siliconflow_api_key
EMBEDDING_BASE_URL=https://api.siliconflow.cn/v1/
EMBEDDING_MODEL=BAAI/bge-large-zh-v1.5
EMBEDDING_DIMENSION=
EMBEDDING_MODEL_PATH=./.models/bge-small-zh-v1.5
EMBEDDING_USE_GPU=true

VECTOR_STORE_ENABLED=true
VECTOR_STORE_TYPE=qdrant
VECTOR_STORE_PATH=./data/chromadb


QDRANT_URL=http://localhost:6333
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=

# 日志配置
LOG_LEVEL=INFO  # DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FILE=logs/aitext.log